@font-face {
  font-family: 'icons-turn-arrow';

  src: url('../fonts/icons/turn-arrow.eot') format('embedded-opentype'), url('../fonts/icons/turn-arrow.woff') format('woff'), url('../fonts/icons/turn-arrow.ttf') format('truetype'), url('../fonts/icons/turn-arrow.svg') format('svg');
}

html,
body {
  font-family: 'Microsoft YAHEI', 'Arial';

  width: 100%;
  height: 100%;

  background-color: #222;
}

.content {
  width: 100%;
  height: 100%;
}

/* stage -- start */
.stage {
  position: relative;

  width: 100%;
  height: 680px;
}
/* stage -- end */

/* image -- start */
.img-sec {
  position: relative;

  overflow: hidden;

  width: 100%;
  height: 100%;

  background-color: #ddd;

  perspective: 1800px;
}

.img-figure {
  position: absolute;

  box-sizing: border-box;
  width: 320px;
  height: 360px;
  margin: 0;
  padding: 40px;

  cursor: pointer;
  transition: transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;
  transform-origin: 0 50% 0;

  background-color: #fff;

  transform-style: preserve-3d;
  &.is-inverse {
    transform: translate(320px) rotateY(180deg);
  }
}

figcaption {
  text-align: center;
  .img-title {
    font-size: 16px;

    margin: 20px 0 0 0;

    color: #a7a0a2;
  }
  .img-back {
    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 30px;

    transform: rotateY(180deg) translateZ(1px);
    text-align: center;

    color: #666;
    background-color: #fff;

    backface-visibility: hidden;
  }
}
/* image -- end */

/* controller -- start */
.controller-nav {
  position: absolute;
  z-index: 101;
  bottom: 30px;
  left: 0;

  width: 100%;

  text-align: center;
}

.controller-unit {
  display: inline-block;

  width: 30px;
  height: 30px;
  margin: 0 5px;

  cursor: pointer;
  transition: transform .6s ease-in-out, background-color .3s;
  transform: scale(.5);
  text-align: center;
  vertical-align: middle;

  border-radius: 50%;
  background-color: #aaa;
  &.is-center {
    transform: scale(1);

    background-color: #888;
    &::after {
      font-family: 'icons-turn-arrow';
      font-size: 80%;
      line-height: 30px;

      content: '\e600';

      color: #fff;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    &.is-inverse {
      transform: rotateY(180deg);

      background-color: #555;
    }
  }
}
/* controller -- end */
